<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings />
  <connectionStrings>
    <add name="controleEntities" connectionString="metadata=res://*/Controle.csdl|res://*/Controle.ssdl|res://*/Controle.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=jetdev.com.br;initial catalog=controle;user id=sa;password=asmare@1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <machineKey validationKey="2DE5FB083B01F19A09704F5E742E16AE50D0E91B5FB5176DEC9050648858C08DCA32A2DCFD696B71939098C4A203F52B870E490768A2CF35DD03CB16C865DC69" decryptionKey="1894B9849CF3937C6353A61964FDDB6422B41F911C5DC9340A9554B4F6AAA912" validation="SHA1" decryption="AES" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <httpRuntime maxRequestLength="10000000"/>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.5100.19196" newVersion="5.6.5100.19196" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>